.titulo{
    display: flex;
    justify-content: center;
}
.stickers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.card{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.resultado{
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stickers-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}